.body{
    background-color: rgb(198, 195, 195);
    margin-top: -40px;
}
.title{
    font-size: 40px;
}
.maindiv{
    /* border: 15px solid red; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: grey; */
}
.products-data{
    width: 32%;
    /* height: 400px; */
    /* border: 3px solid red; */
    margin-bottom: 50px;
    background-color: rgb(252, 252, 252);
}
.products-data:hover{
    box-shadow: 10px 10px 10px rgb(87, 83, 83);
}
.productinfo{
    font-size: 13px;
}
.images{
    width: 80%;
    height: 200px;
    padding-top: 20px;
}